**/docs/**
**/old/**
**/temp/**
**/safe/**
**/build/**
**/output/**
**/out.txt
**/it
**/temp.xml
**/*.aux
**/*.out
**/*.bbl
**/*.blg
**/*.dvi
**/*.log
**/*.pdf
**/*.ps
**/*.toc
**/*.snm
**/*.nav
**/*.tcp
**/*.tiw
**/*.synctex
**/*/.tps
**/*/.idx
**/*/.ilg
**/*/.ind
**/*/.vrb
presentation/departmentEmployeeComposite.tex
*.idx
*.ilg
*.ind
*.tps
Mathematical Theory of Data/paper.tps
*.tps
# LaTeX intermediate files (anywhere in the repo)
*.aux
*.log
*.toc
*.out
*.nav
*.snm
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ilg
*.ind
*.synctex.gz
*.xdv
*.dvi
*.ps
*.vrb


