**/docs/**
**/old/**
**/temp/**
**/safe/**
**/out.txt
**/it
**/temp.xml
**/*.aux
**/*.out
**/*.bbl
**/*.blg
**/*.dvi
**/*.log
**/*.pdf
**/*.ps
**/*.toc
**/*.snm
**/*.nav
**/*.tcp
**/*.tiw
**/*/.tps
**/*/.idx
**/*/.ilg
**/*/.ind
presentation/departmentEmployeeComposite.tex
*.idx
*.ilg
*.ind
*.tps
Mathematical Theory of Data/paper.tps
*.tps
